span.badge.badge-pill.badge-info {
    display: inline-block;
    margin: 0.5em;
    text-align: center;
    cursor: pointer;
}

.card.border-info.mb-3 {
    width: 20em;
    margin-top: 20px;
}


span.badge.badge-pill.badge-info.selected {
    display: inline-block;
    margin: 0.5em;
    text-align: center;
    cursor: pointer;
    background-color:#eee;
    color: #ddd; 
    cursor: not-allowed;
}

span.badge.badge-pill.badge-info.used {
    display: inline-block;
    margin: 0.5em;
    text-align: center;
    cursor: pointer;
    background-color: #aaddaa;
    color: #99bb99;
    cursor: not-allowed;
}
